*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    gap: 15px;
    padding: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.book {
    background-color: gray;
    padding: 0.875rem 1.5rem;
    height: 250px;
    border-radius: 0.75rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 60px 30px;
}

.book h2 {
    justify-self: center;
}

button {
    border: none;
    position: relative;
    font-weight: 600;

}

.book > button {
    padding: 0.5rem 3rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    justify-self: center;
    align-self: center;
    width: clamp(120px, 70%, 200px);
}

.add-book {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
    top: 25px;
    left: 25px;
    font-size: 1.5rem;
}